.markers{
    pointer-events: auto;
    position: relative;
    height: 53%;
    width: 50%;
    transform: translateX(45%);
    cursor: pointer;
    transition: height 1s;
}
.mapboxgl-marker h3{ 
    /* TODO: make the h3 display over the svg marker-icons */
    position: relative;
    z-index: 3;
    display: none;
    text-align: center;
    white-space: nowrap;
    top:-50px;
    font-weight:bold;
    border: 3px dotted rgba(0,0,0,0.5) ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 0.2rem;
    color: white;
    /* text-shadow:
   -1px -1px 0 #ccc,  
    1px -1px 0 #ccc,
    -1px 1px 0 #ccc,
     1px 1px 0 #ccc; */
}
div.mapboxgl-marker{
    pointer-events: none;
    z-index: 0;
}
a {
    text-decoration: none;
    
}
.selected h3{
    position: absolute;
    z-index: 1000;
    display: inline; 
}
.selected{
    z-index: 101!important;
}
.mapboxgl-user-location-dot{
    background-color: tomato;
    border: 0px;
}
.mapboxgl-user-location-dot:before{
    animation: none;
    background-color: tomato;
}
.mapboxgl-user-location-dot:after{
    border: none;
    box-shadow: none;
}
