.markers{
    position: relative;
    height: 53%;
    width: 50%;
    transform: translateX(45%);
    z-index: 4;
    cursor: pointer;
    transition: height 1s;
}
 /* div.selected {
    
} */
.mapboxgl-user-location-dot{
    background-color: tomato;
    border: 0px;
}
.mapboxgl-user-location-dot:before{
    animation: none;
    background-color: tomato;
}
.mapboxgl-user-location-dot:after{
    border: none;
    box-shadow: none;
}