
.layout{
    max-height:100vh;
    display:grid; 
    grid-template-columns:1fr; 
    grid-template-rows:1fr 1fr 0rem;
    
}
@media (min-width: 770px){
    .layout{
        grid-template-columns: 1fr 1fr 0rem;
        grid-template-rows: 1fr;       
    } 
}