@keyframes fly {
0%{
    transform: translateY(0);
}
50%{
    transform: translateY(6%);
}
100%{
    transform: translateY(0);
}
}
@keyframes scale {
    0%{
        stroke-width: 0;
    }
    50%{
        stroke-width: 4;

    }
    100%{
        stroke-width: 0;

    }
    }




.marker > svg > g > path.not-ellipse {
        animation: fly 3s ease infinite ;
      }
.marker > svg > g > ellipse.ellipse {
    animation: scale 3s ease infinite ;
    }
